<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="fr">
  <head>
    <%= stylesheet_link_tag 'screen.css', :media => "screen, projection" %>
    <%= stylesheet_link_tag "print.css", :media => "print" %>
    <!--[if IE]><%= stylesheet_link_tag "ie.css", :media => "screen, projection" %><![endif]-->
    <%= stylesheet_link_tag "application", :media => "screen" %>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <title><%= signs.assoc(@sign)[1] + ' - ' rescue '' %>votre horoscope gratuit sur Horoscope-Astrologique.fr</title>
    <meta content="Horoscope-Astrologique.fr - signes astrologiques et horoscopes - horoscope du jour - horoscope de la semaine - horoscope du mois" name='title' />
    <meta content="Horoscope-Astrologique.fr - astrologie, horoscope du jour, horoscope de la semaine, horoscope du mois" name='description' />
    <meta name='keywords' content='amour, amours, ascendants, astral, astres, astrologie, astrologiques, astrologue, astrologues, avenir, balance, belier, bonheur, cancer, capricorne, cartes, cartomancie, chacras, chakras, chance, communication, conscience, consultation, consulter, couple, cours, cristal, cristaux, divination, dons, energie, futur, gemeaux, geomancie, gratuit, horoscope, horoscope 2008, horoscopes, jean-pierre pernaut, karma, lion, magie, magnétisme, malchance, malheur, mediums, naissance, nostradamus, numérologie, occulte, ondes, oracles, parapsychique, pendule, pierres, planetes, poissons, predictions, previsions, problèmes, relaxation, religion, sagittaire, santé, scorpion, signe, signes, talisman, tarologies, tarologues, tarot, tarots, taureau, theme, travail, verseau, vibrations, vierge, visions, voyance, voyances, ésoterisme, étude'>
  </head>
  <body>
    <div class="container clear">
      <div id='header'>
        <div style='font-size:3em;text-align:center'>
          Horoscope-Astrologique.fr
        </div>
        <%= render :partial => '/shared/menu' %>
      </div>
      <%= adsense %>
      <% if params[:action] == 'sign' %>
        <%= render :partial => '/shared/menu_period' %>
      <% elsif params[:action] == 'index' %>
        <div style='background:#FECCFF;color:#A73894;font-size:1.2em;padding:0 20px;'>
          Vous allez passer une bonne journée?
          Allez-vous rencontrer l'âme soeur aujourd'hui? cette semaine?<br/>
          Horoscope-Astrologique.fr vous dit tout.
        </div>
      <% end %>
      <div class='column span-19 border'>
        <div class='content'><%= yield %></div>
      </div>
      <div class='column span-5 last'>
        <div style='padding:10px 0;text-align:center'><%= adsense_vertical %></div>
      </div>
      <hr class='space'></hr>
      <%= adsense %>
    </div>
  </body>
</html>